body {
    background: #FFFFE4;
}

/*  Post  */

.post {
    width: 100%;
    height: 120px;
    padding: 10px;
    margin: 30px 0px;
    /*background: #FFFEF6;*/
}

.post-thumb {
    height: 100%;
    background: purple;
}

.post-body {
    height: 100%;
}

.post-title {
    height: 50%;
    padding: 10px;
    font-size: 24px;
}

.post-info {
    height: 50%;
    padding: 10px;
}
